h3 {
  font-family: "Brush Script MT", "Cursive";
  font-size: 300%;
  color: black !important;
  margin-left: 2%;
  margin-bottom: 2rem !important;
}
h4 {
  font-family: "Brush Script MT", "Cursive";
  font-size: 200%;
  color: black !important;
  margin-top: 2rem;
}
hr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  height: 0.5rem;
  background-color: #028e6f;
}
.container-fluid {
  margin-bottom: 0rem !important;
}
.stevenguyen_logo {
  display: block;
  margin-top: 5%;
  border-radius: 50%;
  background: transparent;
  padding: 8px;
  align-content: center;
  align-items: center;
  border: 3px solid #ccc;
  box-shadow: 10px 10px 10px #999;
}
.stevenguyen_logo img {
  height: 30rem;
  width: 30rem;
  position: relative;
  border-radius: 50%;
}
.btn {
  background-color: #75ada1;
  border-color: #75ada1;
  font-family: "Papyrus", "Fantasy";
}
.my-name {
  font-family: "Papyrus", "Fantasy";
  font-size: 600%;
  color: rgb(0, 0, 0) !important;
}
@media only screen and (max-width: 480px) {
  h3 {
    font-family: "Papyrus", "Fantasy";
    font-size: 300%;
    color: black !important;
    margin-left: 2%;
    margin-bottom: 2rem !important;
  }
  h4 {
    font-family: "Papyrus", "Fantasy";
    font-size: 170%;
    color: black !important;
    margin-top: 2rem;
  }
  hr {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 0px;
    padding: 0px;
    height: 0.5rem;
    background-color: transparent;
  }
  .btn {
    background-color: #75ada1;
    border-color: #75ada1;
    margin-top: 1.5rem;
  }
  .my-name {
    font-family: "Papyrus", "Fantasy";
    font-size: 300%;
    color: rgb(0, 0, 0) !important;
  }
  .stevenguyen_logo {
    height: 12.4rem;
    width: 12.4rem;
    margin-top: 6rem;
    margin-bottom: 0rem;
    border-radius: 50%;
    background-color: transparent;
    padding-bottom: 0rem;
    border-color: #75ada1;
  }
  .stevenguyen_logo img {
    height: 11rem;
    width: 11rem;
  }
}
