
  <!-- Header Start -->
  <div class="container-fluid bg-light my-6 mt-0" id="home">
      <div class="container">
          <div class="row g-5 align-items-center">
              <div class="col-lg-6 py-6 pb-0 pt-lg-0">
                  <h3 class="text-primary mb-3">I'm</h3>
                  <h1 class="display-3 mb-3">Steve Nguyen</h1>
                  <h2 class="typed-text-output d-inline"></h2>
                  <h4>Software Developer</h4>
                  <div class="d-flex align-items-center pt-5">
                      <a href="https://www.linkedin.com/in/steve-nguyen-390721225/" class="btn btn-primary py-3 px-4 me-5">My Profile</a>
                  </div>
              </div>
              <div class="col-lg-6 stevenguyen_logo">
                  <img class="img-fluid" src="assets/img/stevenguyen.jpg" alt="">
              </div>
          </div>
      </div>
  </div>
  <!-- Header End -->

<router-outlet></router-outlet>
