<!-- Header Start -->
<div class="container-fluid bg-light my-6 mt-0" id="home">
  <div class="container">
    <div class="row g-2 align-items-center">
      <div class="col-lg-6  d-flex justify-content-center">
        <div class="stevenguyen_logo">
          <img src="assets/img/stevenguyen.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="text-success mb-3">I'm</h3>
        <h1 class="display-3 text-success mb-3 my-name">Steve Nguyen</h1>
        <h2 class="typed-text-output d-inline text-success"></h2>
        <h4 class="text-success">Software Developer</h4>
        <hr>
        <div class="d-flex justify-content-center ">
          <a href="https://www.linkedin.com/in/steve-nguyen-390721225/" class="btn btn-dark">My
            Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->
<hr>
<app-main-form></app-main-form>
<router-outlet></router-outlet>
