h3{
    font-family: "Brush Script MT","Cursive";
    font-size: 300%;
    color: black !important;
    margin-left: 2%;
    margin-bottom: 2rem !important;
}
h4{
    font-family: "Brush Script MT","Cursive";
    font-size: 300%;
    color: black !important;
    margin-top: 2rem;
}
.stevenguyen_logo {
    margin-top: 5%;
    border-radius: 50%;
    background: transparent;
    padding: 8px;
    border: px solid #ccc;
    box-shadow: 10px 10px 10px #999;
}
.stevenguyen_logo img{
    border-radius: 50%;
}

.my-name {
    font-family: "Brush Script MT","Cursive";
    font-size: 600%;
    color: rgb(0, 0, 0) !important;
}
@media only screen and (max-width: 480px) {
    .my-name {
        font-family: "Brush Script MT","Cursive";
        font-size: 500%;
        color: rgb(0, 0, 0) !important;
    }   
}