/*main color for our website #75ada1 */
mat-form-field {
  width: 20rem !important;
}
.inline-list {
  display: flex;
}
.h1-todo {
  text-align: center;
  font-family: "Papyrus", "Fantasy";
  font-size: 300%;
  color: black !important;
  margin-top: 2rem;
}
button {
  text-align: center;
  font-family: "Papyrus", "Fantasy";
  width: 6rem;
  height: 6rem;
  font-size: 40px;
  padding: 0px;
}
button.mat-mini-fab {
  background-color: #75ada1;
}
mat-list-item {
  border: 2px solid #75ada1;
  font-size: 20px !important;
  padding: 0px;
}
mat-list-item.mat-list-item {
  height: 6rem;
}
mat-form-field {
  font-size: 20px;
}
/* high resolution tablet ipad */
@media only screen and (max-width: 1624px) and (min-width: 1000px) {
  mat-form-field {
    width: 35rem !important;
    height: 3rem !important;
  }
}
/* the below code is used for phone */
@media only screen and (max-width: 480px) {
  .h1-todo {
    text-align: center;
    font-family: "Papyrus", "Fantasy";
    font-size: 4rem;
    color: black !important;
    margin-top: 2rem;
  }
  mat-form-field {
    width: 17rem !important;
    height: 3rem !important;
  }

  button {
    text-align: center;
    font-family: "Papyrus", "Fantasy";
    width: 4rem;
    height: 4rem;
    font-size: 19px;
  }
  mat-form-field {
    font-size: 14px;
  }

  mat-list-item.mat-list-item {
    height: 4rem;
  }
}
/* Low resolution ipad */
@media only screen and (max-width: 767px) {
}
