<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="row ">
        <h1 class="h1-todo">Todo List</h1>
        <form [formGroup]="todoFormGroup">
          <div class="row">
            <div class="col-lg-8">
              <mat-form-field appearance="fill">
                <mat-label>Add a todo . . .</mat-label>
                <textarea formControlName="todoItem" matInput placeholder="What is your plan ....."></textarea>
                <span matSuffix><mat-icon>alarm</mat-icon></span>
              </mat-form-field>
            </div>
            <div class="col-lg-2">
              <button (click)="createItem()" mat-raised-button> Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col col-lg-2">
    </div>
  </div>
  <div class="row justify-content-center" >
    <div class="col-lg-8">
      <form action="">
        <mat-list  *ngFor="let item of itemList">
          <mat-list-item>{{item}}</mat-list-item>
        </mat-list>
      </form>
    </div>
  </div>
</div>