mat-form-field{
    width: 100% !important;
}

.h1-todo{
    text-align: center;
    font-family: "Brush Script MT","Cursive";
    font-size: 300%;
    color: black !important;
    margin-top: 2rem;
}
button {

}