mat-form-field{
    width: 100% !important;
}

.h1-todo{
    text-align: center;
    font-family: "Brush Script MT","Cursive";
    font-size: 300%;
    color: black !important;
    margin-top: 2rem;
}
button {
    width: 100%;
    height: 80%;
    font-size: 20px;
}
mat-list-item{
    border: 2px solid black;
    font-size: 20px !important;
}
mat-form-field{
    font-size: 20px;
}
